#wrap_contain {
    width: 100%;
    max-width: 1400px;
    /* border: 1px solid white; */
    margin: 0 auto;
    padding-top: 100px;

}

.top_contain {
    height: 600px;
    display: flex;
    gap: 40px;
}

.top_left {
    /* width: calc(60% - 20px); */
    height: 100%;
    /* border: 1px solid antiquewhite; */

    display: flex;
    gap: 20px;
}

.top_right {
    width: calc(40% - 20px);
    height: 100%;
    /* border: 1px solid antiquewhite; */
}

.big_img_box {
    width: 600px;
    height: 600px;
}

.txt_desc1 {
    display: none;
}

.big_img {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.big_img>img {
    height: 100%;

    /* transform: translateX(-400px); */
}

.small_img_box {
    width: calc(350px - 20px);
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small_img {
    background-color: #999999;
    width: 100%;
    height: calc((100% - 20px)/ 3);
    display: flex;
    overflow: hidden;
}

.small_img>img {
    width: 100%;
}

.txt_box {}

.txt_title {
    color: #efefef;
    font-size: 40px;
    font-weight: 900;
}

.txt_desc2 {
    color: #999999;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 25px;
}

.opt_box {
    display: flex;
    flex-wrap: wrap;
}

.opt_box>div {
    /* background-color: #999999; */
    width: calc((100% - 30px) / 3);
    height: 50px;
    /* margin-right: 15px; */
    margin: 20px 15px 0 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #efefef;
    border: 2px solid #999999;
    box-sizing: border-box;
}

.opt_box>div:nth-child(3n) {
    margin: 20px 0px 0 0;
}

.price {
    color: #efefef;
    font-size: 30px;
    font-weight: 900;
}

.top_right>div {
    margin-bottom: 20px;
}

.notice_box {
    border: #34ce29 2px solid;
    /* background-color: #999999; */
    display: flex;
    opacity: 0;
}

.notice_line {
    width: 10px;
    height: 70px;
    background-color: #34ce29;
}

.notice_txt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    padding-left: 15px;
}

.notice_txt>div {
    width: 100%;
    color: #efefef;
    font-size: 14px;
}

.button_box {
    display: flex;
    justify-content: space-between;
}

.cartout_btn,
.checkout_btn {
    background-color: #999999;
    color: #efefef;
    border-radius: 2px;
    width: calc((100% / 2) - 7.5px);
    height: 50px;
    /* margin-right: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 700;
}

.cartout_btn:hover,
.checkout_btn:hover {
    background-color: #34ce29;
    transition: 0.7s all;
}

.nav_bar_box {
    /* background-color: #999999; */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: #34ce29 2px solid;
    height: 50px;
    margin-top: 100px;
    display: flex;
}

.nav_bar_box>div {
    /* background-color: #34ce29; */
    border: #999999 2px;
    border-style: solid solid none solid;
    width: calc((100% - 45px) / 4);
    height: 100%;
    margin-right: 15px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #efefef;
    letter-spacing: 2px;
    box-sizing: border-box;
}

.desc_img {
    display: flex;
    justify-content: center;
}

.desc_img>img {
    width: 100%;
    max-width: 850px;
}

.spec_sec {
    width: 100%;
    max-width: 850px;
    margin: 50px auto;
}

.spec_title {
    /* border: 1px solid #34ce29; */
    border-bottom: 1px solid #1c1c1c;
    background-color: #999999;
    color: #efefef;
    font-size: 14px;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.spec_desc {
    /* border: 1px solid transparent; */
    color: #999999;
    font-size: 14px;
    height: 0;
    /* padding: 20px; */
    padding-left: 20px;
    transition: all 1s;
    transform-origin: bottom;
    box-sizing: border-box;
    overflow: hidden;
}

.spec_desc {
    line-height: 30px;
}

.spec_icon {
    width: 20px;
    display: flex;
    align-items: center;
    background-color: #34ce29;
}

.spec_icon>img {
    width: 100%;
}

.top_btn {
    background-color: #34ce29;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 5%;
    right: 5%;

}

.spec_on {
    /* border: 1px solid #34ce29; */
    height: auto;
    /* transition: all 1s; */
    padding: 20px;
}

@media screen and (max-width: 1400px) {
    .top_contain {
        height: 500px;
    }

    .big_img_box {
        width: 500px;
        height: 500px;
    }

    .small_img_box {
        width: calc(250px - 20px);
    }

    .txt_title {
        font-size: 30px;
    }

    .txt_desc2 {
        font-size: 12px;
        letter-spacing: normal;
        line-height: 20px;
    }

    .top_right>div {
        margin-bottom: 10px;
    }

    .price {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 1150px) {
    .nav_bar_box {
        transform: translateY(2px);
    }

    .notice_line {
        width: 5px;
        height: 50px;
    }

    .notice_txt>div {
        font-size: 12px;
    }

    .top_contain {
        height: 400px;
    }

    .big_img_box {
        width: 400px;
        height: 400px;
    }

    .small_img_box {
        width: calc(200px - 20px);
    }
}

@media screen and (max-width: 950px) {
    .opt_box>div {
        width: calc((100% - 15px) / 2);
        margin: 20px 15px 0 0;
    }

    .opt_box>div:nth-child(3n) {
        margin: 20px 15px 0 0;
    }

    .opt_box>div:nth-child(2n) {
        margin: 20px 0px 0 0;
    }

    .txt_desc2 {
        display: block;
    }

    .txt_desc1 {
        /* display: block; */
        color: #999999;
        font-size: 12px;
        letter-spacing: normal;
        line-height: auto;
    }

    .top_left {
        width: 500px;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .top_contain {
        height: 600px;
    }

    .big_img_box {
        width: 500px;
        height: 400px;
    }

    .small_img {
        background-color: #999999;
        width: 100%;
        height: 150px;
    }

    .small_img_box {
        width: 500px;
        height: auto;
        flex-direction: row;
    }

    .small_img:nth-child(3) {
        display: none;
    }

    .top_right {
        width: calc(100% - 500px - 20px);
    }
}

@media screen and (max-width: 800px) {
    .top_contain {
        flex-direction: column;
        height: auto;
    }

    .top_left {
        width: 100%;
    }

    .big_img {
        height: 65vw;
    }

    .big_img_box {
        width: 100%;
        height: auto;
    }

    .big_img>img {
        /* width: 100%; */
        height: 100%;
    }

    .small_img_box {
        /* width: auto;
        height: 100%; */
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .small_img {
        height: 20vw;
    }

    .small_img:nth-child(3) {
        display: block;
    }

    .small_img>img {
        height: 100%;
    }

    .top_right {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .opt_box>div {
        width: calc((100% - 30px) / 3);
        margin: 20px 15px 0 0;
    }

    .opt_box>div:nth-child(2n) {
        margin: 20px 15px 0 0;
    }

    .opt_box>div:nth-child(3n) {
        margin: 20px 0px 0 0;
    }

    .top_btn {
        width: 40px;
        height: 40px;
    }

    .top_btn>a>img {
        width: 100%;
    }

    .spec_desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .opt_box>div {
        width: calc((100% - 15px) / 2);
        margin: 20px 15px 0 0;
    }

    .opt_box>div:nth-child(2n) {
        margin: 20px 0 0 0;
    }

    .opt_box>div:nth-child(3n) {
        margin: 20px 15px 0 0;
    }

    .small_img_box {
        gap: 10px;
    }

    .top_left {
        gap: 10px;
    }

    .top_contain {
        gap: 15px;
    }

}