body {
  background-color: #1c1c1c;
}

#wrap {
  width: 1800px;
  /* height: 100%; */
  background-color: rgb(28, 28, 28);
  margin: 0 auto;
  padding-top: 100px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1500px;
  border: 1px solid
}

.img_slide {
  width: 100%;
  height: 600px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn_slide {
  width: 50px;
  height: 30px;

  position: absolute;
  top: 50%;
}

#btn_slide_L {
  left: 0;
}

#btn_slide_R {
  right: 0;
}

.slide {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 100%;
  top: 0;

  background-repeat: no-repeat;



}

.slide_1 {
  background-image: url(../img/마우스페이지/1920x700-cathero-desktop-nagafamily-v1.jpg);
  background-size: cover;
  background-position: center;
}

.slide_2 {
  background-image: url(../img/마우스페이지/viper-v2-pro-black-1500x1000-1.jpg);
  background-size: cover;
  background-position: center;

}

.slide_3 {
  background-image: url(../img/마우스페이지/viper-v2-pro-black-1500x1000-2.jpg);
  background-size: cover;
  background-position: center;
}

.slide_4 {
  background-image: url(../img/마우스페이지/viper-v2-pro-black-1500x1000-3.jpg);
  background-size: cover;
  background-position: center;
}





.arrow-prev {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.arrow-next {
  position: relative;
  float: right;
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.arrow-prev::after {
  position: absolute;
  left: 35px;
  top: 20px;
  content: '';
  width: 20px;
  /* 사이즈 */
  height: 20px;
  /* 사이즈 */
  border-top: 3px solid #efefef;
  /* 선 두께 */
  border-right: 3px solid #efefef;
  /* 선 두께 */
  transform: rotate(225deg);
  /* 각도 */
  cursor: pointer;

}

.arrow-next::after {
  position: absolute;
  left: 10px;
  top: 20px;
  content: '';
  width: 20px;
  /* 사이즈 */
  height: 20px;
  /* 사이즈 */
  border-top: 3px solid #efefef;
  /* 선 두께 */
  border-right: 3px solid #efefef;
  /* 선 두께 */
  transform: rotate(45deg);
  /* 각도 */
  cursor: pointer;
}


.item_name {
  width: 100%;
  height: 170px;
  background: #414141;
}

h2 {
  display: inline-block;
  font-size: 40px;
  color: #34ce29;
  margin: 50px 50px;
}

.item_aside {
  width: 700px;
  height: 1100px;
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}

.item_img {
  height: 550px;
  box-sizing: border-box;
}

#display {
  width: 100%;
  height: 100%;
}

.item_img_num {
  height: 200px;
}

.thumb {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

.thumb>li:hover {
  border: 1px solid #efefef;
}

.thumb li {
  width: 160px;
  display: inline-block;
}

.thumb li img {
  width: 100%;
  height: 140px;
}

.text {
  height: 250px;
  text-align: center;
}

.text_item {

  display: block;
}

.item_1 {
  font-size: 35px;
  color: #34ce29;
}

.item_2 {
  font-size: 40px;
  color: #efefef;
}

.item_aside_r {
  width: 700px;
  margin-top: 50px;
  margin-right: 50px;
  float: right;
  text-align: center;
}

.item_aside_r_text {
  height: 400px;
  display: flex;
  flex-wrap: wrap;

}

.item_aside_text {
  width: 100%;
  height: 600px;
}

.aside_text_r>li {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  line-height: 40px;
  margin-left: 20px;
}

.img {
  width: 40px;
  float: left;
}

.aside_txt {
  width: 500px;
  height: 100%;
  margin-left: 70px;
  color: #efefef;
  font-size: 30px;
  line-height: 50px;
  text-align: left;
}


.aside_text_r>li>span {
  width: 100%;
  font-size: 30px;
  color: #efefef;
  margin-right: 110px;

}

.cont {
  width: 100%;
  height: 80px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;


}

.cont_txt {
  width: 130px;
  height: 80px;
  float: left;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  font-weight: 900;
  color: #efefef;
}

.cont>span {
  float: left;
  font-size: 30px;
  color: #efefef;
  line-height: 50px;

}

.but {
  float: left;
  margin-left: 10px;
  height: 60px;
  box-sizing: border-box;
  display: inline-flex;
  margin-top: 10px;

}

.button_box {
  width: 50px;
  height: 100%;
  border: 5px solid rgb(28, 28, 28);
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;

  background: none;
  color: #efefef;
}

#but_text {
  width: 70px;
  height: 100%;
  border: 2px solid #efefef;
  box-sizing: border-box;
  background: none;
  color: #efefef;
  font-size: 20px;
  text-align: center;
}

.sum {
  width: 250px;
  height: 100px;
  margin-left: 70px;
  line-height: 65px;
}


#o_price {
  font-size: 40px;
  color: #efefef;
}

#f_price {
  font-size: 30px;
  color: #efefef;

}

.totel {
  font-size: 30px;
  color: #efefef;
}

.buy_box {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  margin-left: -20px;
}

.buy_one {
  margin-top: 40px;
  width: 250px;
  height: 100%;
  background-color: #414141;
  line-height: 80px;
  color: #efefef;
  font-weight: 900;
  cursor: pointer;
}

.buy_one:hover {
  background-color: #34ce29;
  transition: all 1s;
  font-weight: bold;
}

.buy_two:hover {
  background-color: #34ce29;
  transition: all 1s;
  font-weight: bold;
}

.buy_two {
  margin-top: 40px;
  width: 250px;
  height: 100%;
  background-color: #414141;
  line-height: 80px;
  color: #efefef;
  font-weight: 900;
  cursor: pointer;
}

.img_list_box_A {
  width: 100%;
  height: 600px;
  background-image: url(../img/마우스페이지/1920x700-desktop-catpgbnr-basiliskline.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.img_list_box_B {
  margin: 0 auto;
  margin-top: 70px;
  width: 80%;
  height: 800px;
  background-image: url(../img/마우스페이지/razer-deathadder-v2-x-hyperspeed-family-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.mid_txt>span:nth-child(1) {
  margin: 0 auto;
  font-size: 35px;
  text-align: center;
  color: #efefef;
}

.mid_txt {
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  color: #34ce29;
}

.img_list_box_C {
  /* height: 400px; */
  height: auto;

  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  gap: 50px;

}

.mid_list_item {
  width: calc((100% - 50px) / 2);
  height: 300px;
  padding: 10px;
  margin-top: 40px;
}

.mid_one {
  background-image: url(../img/마우스페이지/razer-universal-grip-tape-category-558x587-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.mid_two {
  background-image: url(../img/마우스페이지/razer-hyperspeed-wireless-category-banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


.img_list_box_C_ul {
  display: flex;
  justify-content: space-around;
}

.img_list_box_C_li {
  width: 500px;
  height: 300px;
  background-image: url(../img/마우스페이지/1920x700-cathero-desktop-nagafamily-v1.jpg);

}

.img_list_box_D {
  width: 100%;
  height: 600px;
  background-image: url(../img/마우스페이지/razer-viper-mini-gallery-hero-1500x1000.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.accodian_top {
  margin-top: 65px;
  text-align: center;
  color: #34ce29;
  font-weight: 900;
}

.accodian_box {
  width: 50%;
  height: 500px;
  margin: 60px auto;
}

.accordion {
  background-color: #414141;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  outline: none;
  border: none;
  text-align: left;
  font-size: 20px;
  transition: 0.4s;
  margin-top: 30px;
  color: #efefef;
}

.active,
.accordion:hover {
  background-color: #34ce29;
  font-weight: bold;
}

.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  margin-top: 40px;
  padding: 0 16px;
  background-color: #1c1c1c;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 1px solid #efefef;
  color: #efefef;

}

.panel_txt {

  display: flex;
  margin-top: 20px;
}

.box {
  width: 20px;
  height: 20px;
  background-color: #34ce29;
}

#box_txt_A {
  width: 250px;
  height: 100%;
  margin-left: 50px;
}

@media screen and (max-width:1800px) {
  #wrap {
    width: 1200px;

  }

  .main {
    height: 1000px;
  }

  h2 {
    line-height: 70px;
    font-size: 30px;


  }

  .item_aside {
    width: 350px;

    margin-top: 50px;
    margin-left: 50px;
    float: left;
  }

  .item_img {
    width: 100%;
    height: 300px;

    box-sizing: border-box;
  }

  .thumb li img {
    width: 80px;
    height: 80px;

  }

  .item_1 {
    font-size: 25px;

  }

  .item_2 {
    font-size: 20px;
  }

  .item_aside_r>img {
    width: 300px;
    margin-right: 120px;
  }

  .aside_txt {
    font-size: 20px;

  }

  .item_aside_r {

    margin-right: -40px;


  }

  .cont_txt {
    font-size: 20px;


  }

  .buy_one {

    width: 162px;
    height: 70px;
    line-height: 66px;
    font-size: 10px;
  }

  .buy_two {

    width: 162px;
    height: 70px;
    line-height: 66px;
    font-size: 10px;
  }

  .accodian_box {
    width: 100%;

  }
}

@media screen and (max-width:1200px) {

  #wrap {
    width: 800px;

  }

  .main {
    display: block;
    width: 100%;
    height: 1000px;
    border: 1px solid;
  }

  .img_slide {

    height: 270px;

  }

  .item_aside {
    margin: 0 auto;
    height: 660px;
    width: 100%;

  }

  .item_img {
    height: 555px;
  }

  .item_name {

    height: 85px;
  }

  .item_name>h2 {
    display: inline-block;
    font-size: 20px;
    color: #34ce29;
    margin: 5px 50px;
  }

  .thumb li img {
    width: 100%;
    height: 140px;
  }

  .item_aside_r>img {
    display: none;
  }

  .aside_text_r {
    display: none;
  }

  .text {
    display: none;
  }

  .buy_box {
    display: flex;

  }

  .item_aside_r {
    width: 100%;
  }

  .buy_one {
    width: 300px;

  }

  .buy_two {
    width: 300px;
  }

  .accodian_box {
    width: 100%;

  }

  .img_list_box_B {
    margin: 0 auto;
    margin-top: 70px;
    width: 100%;
    height: 516px;

  }

  .mid_list_item {
    height: 220px;
  }

}